.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.background-image-with-overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 65vh;
  background: url('/src/assets/bg1.png');
}

.background-image-with-overlay .logo {
  padding-left: 64px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 150px;
  height: 150px;

}

.background-image-with-overlay h1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #fff;
}

.container {
  width: 100%;
  height: 30vh;
  margin-top:150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 192, 1, 0.65) ;
}

.cards-container{
  /* padding-top: 25px; */
  margin-left: 64px;
  margin-right: 64px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.card{
  width:400px;
  height: 176px;
  background-color: red;
  border: #fff 8px solid;
  display: flex; /* Adiciona display: flex */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  position: relative;
}

.card1{
  width:400px;
  height: 176px;
  background-color: red;
  border: #fff 8px solid;
  display: flex; /* Adiciona display: flex */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  position: relative;
}

.card2{
  width:400px;
  height: 176px;
  background-color: red;
  border: #fff 8px solid;
  display: flex; /* Adiciona display: flex */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  position: relative;
}

.placeholder{
  background-color: black;
  display: flex; /* Adiciona display: flex */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 8px;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: -30px;

}





